@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Oswald);

html,
body {
  margin: 0;
	width: 100%;
	height: 100vh;
	color: #fff;
	z-index: 0;
}

* {
  margin: 0;
  padding: 0;
}

.large {
  position: static;
  height: 100%;
  padding-top: 20px;
}

.plain {
  opacity: 0.07;
}

.middle {
  position: static;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -115px;
}

.middle_x {
  position: static;
  top: 50%;
  left: 40%;
  margin-top: -35px;
  margin-left: -80px;
}

.place17 {
  position: static;
  top: 35%;
  left: 38%;
  width: 25%;
  height: 40%;
}

.door {
  position: static;
  bottom: 0;
  margin-left: 15%;
  margin-right: 50%;
  padding-bottom: 50px;
  width: 85%;
  height: 40%;
}

.box {
  display: flex;
  position: static;
  height: 100%;
}

.box div {
  width: 25%;
  height: 16%;
}

.middle_li {
    content: block;
    position: static;
    top: 48%;
    left: 48%;
    width: 100px;
    height: 100px;
}

.message {
  position: static;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.pianobg {
  content: block;
  top: 52%;
  left: 33%;
  width: 55%;
  height: 30%;
  z-index: 3;
}

h2 {
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.7);
  font-size: 2.4em;
  text-decoration: none;
  text-align: center;
  z-index: 1;
}

h3 {
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.7);
  font-size: 2em;
  text-decoration: none;
  text-align: center;
  margin-top: 10%;
}

a {
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2em;
  text-decoration: none;
  text-align: center;
  z-index: 1;
}

.columnR {
  position: static;

  left: 50%;
  width: 50%;
  height: 100%;
}

.cube {
	position: static;
	width: 80%;
	transform-style: preserve-3d;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat center center fixed;
  transition: flex 0.8s ease;
  z-index: 0;
}


.glow {
  @extend .glitch;
  text-shadow: 0 0 1000px rgb(223, 191, 191);
  color: transparent;
  top: 0;
}

.br_text {
  position: static;
  bottom: 0;
  right: 0;
}

/*
 * MOBILE VERSION
 */


@media screen and (max-width: 700px) {

  .message {
    margin-left: auto;
    margin-right: auto;
    width: 93%;
    justify-content: center;
    align-items: center;
  }

  .middle {
    top: 40%;
    left: 7%;
    margin-top: 40px;
    margin-left: 0px;
    width: 90%;
  }

  h2 {
    font-family: "Open Sans";
    color: rgba(0, 0, 0, 0.7);
    font-size: 2.4em;
    text-decoration: none;
    text-align: center;
    z-index: 1;
  }

  h3 {
    font-family: "Open Sans";
    color: rgba(0, 0, 0, 0.7);
    font-size: 2em;
    text-decoration: none;
    text-align: center;
    margin-top: 15%;
  }

  a {
    font-family: "Open Sans";
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.4em;
    text-decoration: none;
    text-align: center;
    z-index: 1;
  }

  span {
    border: 2px;
    border-radius: 2px;
    color: white;
    padding: 2px 12px 2px;
    width: 15em;
    font-weight: normal;
    text-align: center;
    overflow: hidden;
  }
